$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
    margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 25px auto 25px auto;
    //width: 900px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #BDBDBD;
    border-radius: 6px;
    padding: 60px;

}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color:#0b3f53;
}

.hero-unit p{
    font-family: 'La Belle Aurore', cursive;
    font-size: 25px;
}

/* rewrite nav-bar styles */
.navbar-inverse .navbar-inner {
    background-color: #0b3f53;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0B3F53), to(#0B3F53));
    background-image: -webkit-linear-gradient(top, #0B3F53, #0B3F53);
    background-image: linear-gradient(to bottom, #0B3F53, #0B3F53);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF111111', GradientType=0);
    border-color: #0b3f53;
}