$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
    margin: 20px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 25px auto 25px auto;
    //width: 900px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #BDBDBD;
    border-radius: 6px;
    padding: 60px;

}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color:#0b3f53;
}

.hero-unit p{
    font-family: 'La Belle Aurore', cursive;
    font-size: 25px;
}

#feedback_simple a{cursor:pointer;display:block;overflow:hidden;position:fixed;text-decoration:none !important;z-index:9999;
                   -webkit-transform: rotate(-270deg);
                   -moz-transform: rotate(-270deg);
                   -ms-transform: rotate(-270deg);
                   -o-transform: rotate(-270deg);
                   transform: rotate(-270deg);

                   /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
                   -webkit-transform-origin: 50% 50%;
                   -moz-transform-origin: 50% 50%;
                   -ms-transform-origin: 50% 50%;
                   -o-transform-origin: 50% 50%;
                   transform-origin: 50% 50%;

                   /* Should be unset in IE9+ I think. */
                   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
                   left:-30px;
}

/* rewrite nav-bar styles */
.navbar-inverse .navbar-inner {
    background-color: #0b3f53;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0B3F53), to(#0B3F53));
    background-image: -webkit-linear-gradient(top, #0B3F53, #0B3F53);
    background-image: linear-gradient(to bottom, #0B3F53, #0B3F53);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF111111', GradientType=0);
    border-color: #0b3f53;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #d9edf7;
}

.table-striped > tbody > tr:nth-child(odd):hover > td,
.table-striped > tbody > tr:nth-child(odd):hover > th {
    background-color: #d9edf7;
}

/* panel */

.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
    padding: 15px;
}

.panel-body:before,
.panel-body:after {
    display: table;
    content: " ";
}

.panel-body:after {
    clear: both;
}

.panel-body:before,
.panel-body:after {
    display: table;
    content: " ";
}

.panel-body:after {
    clear: both;
}

.panel > .list-group {
    margin-bottom: 0;
}

.panel > .list-group .list-group-item {
    border-width: 1px 0;
}

.panel > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.panel > .list-group .list-group-item:last-child {
    border-bottom: 0;
}

.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}

.panel > .table {
    margin-bottom: 0;
}

.panel > .panel-body + .table {
    border-top: 1px solid #dddddd;
}

.panel-heading {
    padding: 20px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.panel-title > a {
    color: inherit;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-group .panel {
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 4px;
}

.panel-group .panel + .panel {
    margin-top: 5px;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 1px solid #dddddd;
}

.panel-group .panel-footer {
    border-top: 0;
}

.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #dddddd;
}

.panel-default {
    border-color: #dddddd;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
    font-family: 'La Belle Aurore', cursive;
    font-size: 28px;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #dddddd;
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #dddddd;
}

.panel-primary {
    border-color: #428bca;
}

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #428bca;
}

.panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #428bca;
}

.panel-success {
    border-color: #d6e9c6;
}

.panel-success > .panel-heading {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-success > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #d6e9c6;
}

.panel-success > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #d6e9c6;
}

.panel-warning {
    border-color: #fbeed5;
}

.panel-warning > .panel-heading {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.panel-warning > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #fbeed5;
}

.panel-warning > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #fbeed5;
}

.panel-danger {
    border-color: #eed3d7;
}

.panel-danger > .panel-heading {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.panel-danger > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #eed3d7;
}

.panel-danger > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #eed3d7;
}

.panel-info {
    border-color: #bce8f1;
}

.panel-info > .panel-heading {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #bce8f1;
}

.panel-info > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #bce8f1;
}

/* end panel */

/*custom panels*/
.panel-blue {
    border-color: #bce8f1;
}

.panel-blue > .panel-heading {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 10px 15px;
}

.panel-blue > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #bce8f1;
}

.panel-blue > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #bce8f1;
}

.panel-green {
    border-color: #d6e9c6;
}

.panel-green > .panel-heading {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 10px 15px;
}

.panel-green > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #d6e9c6;
}

.panel-green > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #d6e9c6;
}
/*end custom panels */

/*Glyphicon */
/*@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.glyphicon-th-list:before {
  content: "\e012";
}*/

/*ICON size */

.icon-2x {
    font-size: 2em;
}
.icon-2x.icon-border {
    border-width: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.icon-3x {
    font-size: 3em;
}
.icon-3x.icon-border {
    border-width: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.icon-4x {
    font-size: 4em;
}
.icon-4x.icon-border {
    border-width: 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.icon-5x {
    font-size: 5em;
}
.icon-5x.icon-border {
    border-width: 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

/*label*/
.label-primary {
    background-color: #428bca;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #3071a9;
}


/*badge table*/
.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}
.table th, .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}