<!-- Main hero unit for a primary marketing message or call to action -->

<ol class="breadcrumb">  
    <li>  
        <a href="#"><i class="icon-home"></i> TecMenu</a> <span class="divider">></span>  
    </li> 
    <li>  
        <a href="/#/proactiveTechnologySelection">Proactive Technology Selection</a> <span class="divider">></span>  
    </li> 
    <li class="active">{{idDetail}}</li>  
</ol>  

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><i class="icon-tag icon-2x" style="vertical-align: middle;"></i>&nbsp;{{idDetail}}</div>
    <div class="panel-body">
        <div class="row-fluid">
            <div class="span8">
                <div class="panel panel-blue">
                    <div class="panel-heading">General info</div>
                    <div class="panel-body">
                        <dl>
                            <dt>Phase</dt>
                            <dd>Functional design</dd>
                            <dt>Task</dt>
                            <dd>Mock-ups</dd>
                            <dt>Category</dt>
                            <dd>Fusce dapibus</dd>
                            <dt>Description</dt>
                            <dd>For DB projects. Can be downloaded through ASD. Requires license</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="row-fluid">
                    <div>
                        <div class="panel panel-green">
                            <div class="panel-heading">Download info</div>
                            <div class="panel-body">
                                <p><i class="icon-download-alt"></i> http://www.irise.com</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-green">
                            <div class="panel-heading">Related task</div>
                            <div class="panel-body">
                                <p><i class="icon-th-large"></i> AppVerse</p>
                                <p><i class="icon-th-large"></i> Project in 15</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        <div class="row-fluid">
                    <div class="span6">
                        <div class="panel panel-blue">
                            <div class="panel-heading">General info</div>
                            <div class="panel-body">
                                <dl>
                                    <dt>Phase</dt>
                                    <dd>Functional design</dd>
                                    <dt>Task</dt>
                                    <dd>Mock-ups</dd>
                                    <dt>Category</dt>
                                    <dd>Fusce dapibus</dd>
                                    <dt>Description</dt>
                                    <dd>For DB projects. Can be downloaded through ASD. Requires license</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="panel panel-green">
                            <div class="panel-heading">Download info</div>
                            <div class="panel-body">
                                <p><i class="icon-download-alt"></i> http://www.irise.com</p>
                            </div>
                        </div>
                    </div>
                </div>-->
    </div>

</div>
<hr>



