<!-- Main hero unit for a primary marketing message or call to action -->

<ol class="breadcrumb">  
    <li>  
        <a href="#"><i class="icon-home"></i> TecMenu</a> <span class="divider">></span>  
    </li>  
    <li class="active">Proactive Technology Selection</li>  
</ol>  

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><i class="icon-tasks icon-2x" style="vertical-align: middle;"></i>&nbsp;Proactive Technology Selection</div>
    <div class="panel-body">
        <p>There is a growing concern in projects to improve and standardise the development process, create synergies between projects and use tools and processes to improve the quality of the code being developed. One of the recurring questions is which tools are the most adequate to use in the different steps of the projects and how can the development process be enhanced with tasks such as Unit Tests, Continuous Integration, Code Checking, etc.</p>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Phase</th>
                <th>Task</th>
                <th>Tool</th>
                <th>Category</th>
                <th>Version</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr><td>1</td><td>Functional Design</td><td>Mock-ups</td><td>iRise</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>2</td><td>Functional Design</td><td>Mock-ups</td><td>Axure</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/Axure"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>3</td><td>Technical Design</td><td>Class, sequence, etc. Diagrams</td><td>Enterprise Architect</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>4</td><td>Technical Design</td><td>Database design</td><td>Enterprise Architect</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>5</td><td>Technical Design</td><td>Database design</td><td>PowerDesigner</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>6</td><td>Technical Design</td><td>Database design</td><td>DBDesigner</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>7</td><td>Technical Design</td><td>Database design</td><td>SQL Developer Data Modeler</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>8</td><td>Development</td><td>Java IDE</td><td>NetBeans (3) (4)</td><td>xxxx</td><td>7.x</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>9</td><td>Development</td><td>Java IDE</td><td>Eclipse (8)</td><td>xxxx</td><td>3.6 (Helios)</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>10</td><td>Development</td><td>Database IDE</td><td>Oracle SQL Developer</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>11</td><td>Development</td><td>Database IDE</td><td>Database specific client tool</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>12</td><td>Development</td><td>Database IDE</td><td>Toad</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>13</td><td>Development</td><td>Code checks</td><td>PMD</td><td>xxxx</td><td>3.2.6</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>14</td><td>Development</td><td>Code checks</td><td>Findbugs</td><td>xxxx</td><td>1.3.9</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>15</td><td>Development</td><td>Code checks</td><td>Checkstyle</td><td>xxxx</td><td>5.3.0</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>16</td><td>Development</td><td>Unit tests (1)</td><td>JUnit</td><td>xxxx</td><td>4.x.x</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>17</td><td>Development</td><td>Unit tests (1)</td><td>Mockito (2)</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>18</td><td>Development</td><td>Unit tests (1)</td><td>PowerMock</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>19</td><td>Development</td><td>Unit tests (1)</td><td>DbUnit</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>20</td><td>Development</td><td>Unit tests (1)</td><td>utPLSQL</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>21</td><td>Development</td><td>Unit tests (1)</td><td>SoapUI</td><td>xxxx</td><td>3.6.x</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>22</td><td>Development</td><td>Unit tests (1)</td><td>TCPMon</td><td>xxxx</td><td>1.x</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>23</td><td>Development</td><td>Code repository</td><td>SVN</td><td>xxxx</td><td></td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>24</td><td>Development</td><td>Code repository (client)</td><td>Tortoise</td><td>xxxx</td><td>1.6.x</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>25</td><td>Development</td><td>Code repository (client)</td><td>Eclipse / NetBeans</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>26</td><td>Development</td><td>Code repository (client)</td><td>silkSVN</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>27</td><td>Build</td><td>Build</td><td>Maven (6)</td><td>xxxx</td><td>3.x.x</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>28</td><td>Build</td><td>Build</td><td>ANT</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>29</td><td>Build</td><td>Artifact repository</td><td>Nexus</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>30</td><td>Build</td><td>Continuous Integration</td><td>Hudson (9)</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>31</td><td>Build</td><td>Continuous Integration</td><td>Jenkins</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>32</td><td>Build</td><td>Build tests</td><td>Sonar</td><td>xxxx</td><td>2.6</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>33</td><td>Test</td><td>Regression tests</td><td>Selenium (5)</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>34</td><td>Test</td><td>Performance tests</td><td>jMeter</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>35</td><td>Application Server</td><td>n/a</td><td>SAME AS PRODUCTION</td><td>xxxx</td><td>n/a</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>36</td><td>Application Server</td><td>n/a</td><td>Tomcat</td><td>xxxx</td><td>7.x</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>37</td><td>Application Server</td><td>n/a</td><td>Jetty</td><td>xxxx</td><td>7.x</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
            <tr><td>38</td><td>Application Server</td><td>n/a</td><td>Glassfish (7)</td><td>xxxx</td><td>V3</td><td><a href="/#/proactiveTechnologySelection/detail/iRise"><span class="badge"><i class="icon-arrow-right"></i></span></a></td></tr>
        </tbody>
    </table>
</div>
<hr>


