<!-- Main hero unit for a primary marketing message or call to action -->

<ol class="breadcrumb">  
    <li>  
        <a href="#"><i class="icon-home"></i> TecMenu</a> <span class="divider">></span>  
    </li>  
    <li class="active">Application Patterns</li>  
</ol>  

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><i class="icon-tasks icon-2x" style="vertical-align: middle;"></i>&nbsp;Application Patterns</div>
    <div class="panel-body">
        <p>There is a growing concern in projects to improve and standardise the development process, create synergies between projects and use tools and processes to improve the quality of the code being developed. One of the recurring questions is which tools are the most adequate to use in the different steps of the projects and how can the development process be enhanced with tasks such as Unit Tests, Continuous Integration, Code Checking, etc.</p>
    </div>
    
</div>
<hr>


