<!-- Main hero unit for a primary marketing message or call to action -->

<ol class="breadcrumb">  
    <li>  
        <a href="#"><i class="icon-home"></i> TecMenu</a> <span class="divider">></span>  
    </li> 
    <li>  
        <a href="/#/technologyStacks">Technology Stacks</a> <span class="divider">></span>  
    </li> 
    <li class="active">{{idDetail}}</li>  
</ol>  

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><i class="icon-tag icon-2x" style="vertical-align: middle;"></i>&nbsp;{{idDetail}}</div>
    <div class="panel-body">
        <div class="row-fluid">
            
            <div class="span7">
                <div class="panel panel-blue">
                    <div class="panel-heading">General info</div>
                    <div class="panel-body">
                        <dl>
                            <dt>Phase</dt>
                            <dd>Functional design</dd>
                            <dt>Task</dt>
                            <dd>Mock-ups</dd>
                            <dt>Category</dt>
                            <dd>Fusce dapibus</dd>
                            <dt>Description</dt>
                            <dd>For DB projects. Can be downloaded through ASD. Requires license</dd>
                            
                        </dl>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="row-fluid">
                    <div>
                        <div class="panel panel-green">
                            <div class="panel-heading">url info</div>
                            <div class="panel-body">
                                <p><i class="icon-download-alt"></i> <a href="http://appverse.github.io/appverse-web/" target="_blank">http://appverse.github.io/appverse-web/</a></p>
                                <p><i class="icon-github"></i> <a href="https://github.com/Appverse/appverse-web" target="_blank">https://github.com/Appverse/appverse-web</a> </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-green">
                            <div class="panel-heading">Application pattern</div>
                            <div class="panel-body">
                                <p><i class="icon-th-large"></i> appPattern 03</p>
                                <p><i class="icon-th-large"></i> appPattern 14</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<hr>



