<!-- Main hero unit for a primary marketing message or call to action -->

<ol class="breadcrumb">  
    <li>  
        <a href="#"><i class="icon-home"></i> TecMenu</a> <span class="divider">></span>  
    </li>  
    <li class="active">Technology Stacks</li>  
</ol>  

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><i class="icon-tasks icon-2x" style="vertical-align: middle;"></i>&nbsp;Technology Stacks</div>
    <div class="panel-body">
        <p>Technology Stacks gather a set of items listed in the PTS grouped to collaborate together in recurrent scenarios.Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
    </div>

</div>
<hr>

<div class="row-fluid">
    <div class="span6">
        <div class="media">
            <div class="pull-left">
                <img class="media-object" src="../../images/appverse.png" alt="...">
            </div>
            <div class="media-body">
                <h4 class="media-heading">APP VERSE</h4>
                Quodsi vulputate intellegat ut vix. Doctus commune pericula et quo. Mei altera hendrerit ut. Per consulatu consequat et.
                <a class="btn btn-link" href="/#/technologyStacks/detail/appverse">See more &raquo;</a>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="media">
            <div class="pull-left">
                <img class="media-object" src="../../images/appverse.png" alt="...">
            </div>
            <div class="media-body">
                <h4 class="media-heading">PROJECT IN 15</h4>
                Sonet omníum scrípserit vel te, ad vel fíerent moderatius. ¿Senserit instructior pró no? ¡Admodum salutandi ne quo, eu his elitr soluta minímum! ¿Laboré labores meí eu, no sea ñisl tatioñ?
                <a class="btn btn-link" href="/#/technologyStacks/detail/project in 15">See more &raquo;</a>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6">
        <div class="media">
            <div class="pull-left">
                <img class="media-object" src="../../images/appverse.png" alt="...">
            </div>
            <div class="media-body">
                <h4 class="media-heading">myStack</h4>
                 ¿Augue perpetua eám ex, eum níbh definitióñes té? Eá assúm impetus usu, nec éi utinam detraxit. No corpora offéndit appetére cum. Malis decore vituperatoribus cum án, at pro atqui primis eloquentiam.
                 <a class="btn btn-link" href="/#/technologyStacks/detail/myStack">See more &raquo;</a>
            </div>
        </div>
    </div>
<!--    <div class="span6">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="../../images/appverse.png" alt="...">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                Algo aquí
            </div>
        </div>
    </div>-->
</div>








