<!-- Main hero unit for a primary marketing message or call to action -->

<ol class="breadcrumb">  
    <li>  
        <a href="#"><i class="icon-home"></i> TecMenu</a> <span class="divider">></span>  
    </li>  
    <li class="active">Technology Stacks</li>  
</ol>  

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><i class="icon-tasks icon-2x" style="vertical-align: middle;"></i>&nbsp;Technology Stacks</div>
    <div class="panel-body">
        <p>Technology Stacks gather a set of items listed in the PTS grouped to collaborate together in recurrent scenarios.</p>
    </div>
    
</div>
<hr>


